.App {
  text-align: center;
}

.App-logo {
  /*height: 40vmin;
  pointer-events: none; */
  width: 65%;
  height: 65%;
  object-fit: contain;
  box-sizing: inherit;
  background-color: black;

  padding: 0px;

}

/*@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}*/

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background-color: #040404;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container{
  display: flex ;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 75%;
  margin: auto;
  border-radius: 15px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 3%;
}

.image-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  vertical-align: middle;
  align-content: center;

}
header{
  font-size: 30px;
}

h2{
  font-size: 20px;
}
h3{
  text-align: center;
}
.sponsorimage{
  width: 20%;
  height: 20%

}
a{
  color: blue;
}

ol{
  text-indent: 10px;
}
ul{
  text-indent: 45px;
}

.banner-img{
  width: 100%;
}
.About, .Info, .Sponsors, .Community{
  background-color: #040404;
}


